<div class="container" [ngClass]="{'dark': darkMode}">
  <div class="status">
    <div class="status-left Title3">
      <a [routerLink]="['']">My Hexschool
        <i class="fas fa-caret-right"></i>
      </a>
      <div class="number-updown">
        <b>Chapter1</b>
        <i class="fas fa-caret-up"></i>
        <i class="fas fa-caret-down"></i>
        <select name="chapters" id="">
          <option value="1">Chapter1</option>
        </select>
      </div>
      <div class="number-updown">
        <b>
          Page {{currentPageNo}}
        </b>
        <i class="fas fa-caret-up"></i>
        <i class="fas fa-caret-down"></i>
        <select (change)="onChange(pageSelect)" #pageSelect>
          <option *ngFor="let page of pages" [value]="page.pageNumber" [selected]="page.pageNumber === currentPageNo">Page{{page.pageNumber}}</option>
        </select>
      </div>

    </div>
    <div class="status-right">
      <div class="switch" (click)="toggleDarkMode()">
        <div></div>
      </div>

    </div>

  </div>
  <div class="previous-page" (click)="previousPage()" [style.visibility]="currentPageNo === 1? 'hidden':'visible'">
    <i class="fas fa-less-than"></i>
  </div>
  <div class="comic-image">
    <img src='{{pages[currentPageNo-1].pageImageLink}}' alt="">
  </div>


  <div class="next-page" (click)="nextPage()" [style.visibility]="currentPageNo === pages.length? 'hidden':'visible'">
    <i class="fas fa-greater-than"></i>
  </div>
  <div class="thumbnail-bar">
    <div class="previous-chapter">
      <i class="fas fa-angle-double-left"></i>
    </div>

    <div class="thumbnails">
      <div class="thumbnail"></div>
      <ng-container *ngFor="let page of pages; let i=index">
        <div class="thumbnail" id="page{{page.pageNumber}}" [ngClass]="{'current-page': page.pageNumber === currentPageNo}" (click)="jumpToPage($event,page.pageNumber); $event.stopPropagation()">
          <b *ngIf="page.pageNumber !== currentPageNo">{{page.pageNumber}}</b>
          <img src='{{page.pageImageLink}}' alt="">
        </div>
      </ng-container>
      <div class="thumbnail"></div>
    </div>
    <div class="next-chapter">
      <i class="fas fa-angle-double-right"></i>
    </div>
  </div>
