<div class="container">
  <div class="status">
    <div class="status-left Title3">
      <a href="index.html">My Hexschool
        <i class="fas fa-caret-right"></i>
      </a>
      <div class="number-updown">
        <b>Chapter1</b>
        <i class="fas fa-caret-up"></i>
        <i class="fas fa-caret-down"></i>
        <select name="chapters" id="">
          <option value="1">Chapter1</option>
          <option value="2">Chapter2</option>
          <option value="3">Chapter3</option>
          <option value="4">Chapter4</option>
        </select>
      </div>
      <div class="number-updown">
        <b>
          Page 09
        </b>
        <i class="fas fa-caret-up"></i>
        <i class="fas fa-caret-down"></i>
        <select name="pages" id="">
          <option value="1">Page1</option>
          <option value="2">Page2</option>
          <option value="3">Page3</option>
          <option value="4">Page4</option>
          <option value="5">Page5</option>
          <option value="6">Page6</option>
          <option value="7">Page7</option>
          <option value="8">Page8</option>
          <option value="9">Page9</option>
          <option value="10">Page10</option>
        </select>
      </div>

    </div>
    <div class="status-right">
      <div class="switch">
        <div></div>
      </div>

    </div>

  </div>
  <div class="previous-page">
    <i class="fas fa-less-than"></i>
  </div>
  <div class="comic-image">
    <img src="../../assetss/storyboard-1.png" alt="">
  </div>


  <div class="next-page">
    <i class="fas fa-greater-than"></i>
  </div>
  <div class="thumbnail-bar">
    <div class="previous-chapter">
      <i class="fas fa-angle-double-left"></i>
    </div>

    <div class="thumbnails">
      <div class="thumbnail"></div>
      <div class="thumbnail"></div>
      <div class="thumbnail"></div>
      <div class="thumbnail current-page">

        <i lass="fas fa-sort-up"></i>

        <img src="../../assetss/storyboard-1.png" alt="">
      </div>
      <div class="thumbnail">
        <b>2</b>
        <img src="../../assets/storyboard-2.png" alt="">
      </div>
      <div class="thumbnail">
        <b>3</b>
        <img src="../../assets/storyboard-3.png" alt="">

      </div>
      <div class="thumbnail">
        <b>4</b>
        <img src="../../assets/storyboard-4.png" alt="">

      </div>
      <div class="thumbnail">
        <b>5</b>
        <img src="../../assets/storyboard-5.png" alt="">

      </div>
      <div class="thumbnail">
        <b>6</b>
        <img src="../../assets/storyboard-6.png" alt="">

      </div>
      <div class="thumbnail">
        <b>7</b>
        <img src="../../assets/storyboard-7.png" alt="">

      </div>
    </div>
    <div class="next-chapter">
      <i class="fas fa-angle-double-right"></i>
    </div>
  </div>

</div>
