<div class="container">
  <div class="comic">
    <div class="comic-cover">
      <img src="./assets/comic_cover.png" alt="">
    </div>
    <div class="comic-description">
      <div class="comic-title Title">MY HEXSCHOOL</div>
      <ul>
        <li>
          <b>Genres</b>
          <div>Fusce/vehicula/dolor</div>
        </li>
        <li>
          <b>Author</b>
          <div>Namae Shiranai</div>
        </li>
        <li>
          <b>Status</b>
          <div>Ongoing</div>
        </li>
        <li>
          <b>Rate</b>
          <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </li>
        <li>
          <b>Summary</b>
          <div>
            If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.
            <br/>
            <br/>Therefore, I say, I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion with a plurality of other mortals.
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="all-chapters">
    <div class="all-chapters-block1 Title2">All Chapters</div>
    <div class="all-chapters-block2">
      <ul>
        <li class="Subtitle">
          <a [routerLink]="['/chapter']">Chapter 1: The F2E Challenge Start!</a>
        </li>
        <li class="Subtitle new">Chapter 2: Todo List is Going Crazy!</li>
      </ul>
    </div>
  </div>
</div>
